@model IList<Mvc4Test.Models.Role>
@{
    ViewBag.Title = "ArrayBinder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ArrayBinder</h2>

<form method="post">
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.TextBox("["+this.Model.IndexOf(item)+"].Name",item.Name)
                    @Html.Hidden("["+this.Model.IndexOf(item)+"].Id",item.Id)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
    <button type="submit">submit</button>
</form>