@model MvcTest.Models.AssignRoleModel
@using Iesi.Collections.Generic;
@using System.Linq;
@using MvcTest.Models
@{
    ViewBag.Title = "AssignRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    AssignRole</h2>
<form method="POST">
<input value="@this.Model.User.Id" type="hidden" name="User"/>
<ul>
    @foreach (Role role in ViewBag.Roles)
    {
        <li>
            @{
        var check = this.Model.Roles.Contains(role) ? "checked='checked'" : "";
            }
            <input type="checkbox" value="@role.Id" name="Roles" id="@role.Id" @check/>
            <label for="@role.Id">@role.Name</label>
        </li>
    }
</ul>
<button type="submit">
    submit</button>
</form>
