@model IEnumerable<MvcTest.Models.User>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>
    @ViewData["view"] 
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                LoginId
            </th>
            <th>
                Name
            </th>
            <th>
                Password
            </th>
            <th>
                Create Time
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("ChangePassword", "ChangePassword", new { id = item.Id }) |
                    @Html.ActionLink("AssignRole", "AssignRole", new { id = item.LoginId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</body>
</html>
